/Sorts/build/
/Dicionario4/build/
/Dicionario4/dist/
/TADGrafoDV2/nbproject/private/
/TADGrafoDV2/build/
/TADGrafoDV2/dist/
/Dicionario_com_funcoes_hash/build/
/Dicionario_com_funcoes_hash/nbproject/private/
/Dicionario_com_funcoes_hash - Cópia/nbproject/private/
/Dicionario/nbproject/private/
/TADMatriz/nbproject/private/